# Ignore system files
.DS_Store
Thumbs.db

# Node modules (if using Node.js)
node_modules/

# VSCode settings
.vscode/

# Log files
*.log

# Build/dist folders (optional)
dist/
build/

# Environment variables
.env

__pycache__/
*.pyc
venv/
.DS_Store